{% extends "base.jinja2" %}
{% block content %}
<a class="nav-link btn btn-primary" href="{{ url_for('admin.create_post') }}">Créer un poste</a>
<table class="table">
  <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom du poste</th>
            <th scope="col">Description</th>
            <th scope="col">Occurance</th>
            <th scope="col">Edit/Delete</th>
        </tr>
  </thead>
  <tbody>
    {% for post in posts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.name }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.occurence }}</td>
            <td><div class="btn btn-success all_user" style="margin-right:5px;"><a href="{{ url_for('admin.edit_post', post_id = post.id )}}" style="color:black;">✎</a></div><div class="btn btn-warning all_user"><a href="{{ url_for('admin.delete_post', post_id = post.id )}}">🗑</a></div></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
