{% extends "base.jinja2" %}
{% block content %}
<!--<a class="nav-link btn btn-primary" href="{{ url_for('admin.add_teamleader') }}">Ajouter un chef d'équipe</a>-->
    <table class="table">
  <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nom d'équipe</th>
            <th scope="col">Chef d'équipe</th>
            <th scope="col">N° de téléphone</th>
        </tr>
  </thead>
  <tbody>
    {% for teamleader in teamleaders %}

    <tr>
        <th scope="row">{{ teamleader.id }}</th>
        <td>{{ teamleader.team }}</td>
        <td>{{ teamleader.firstname }} {{ teamleader.lastname }}</td>
        <td>{{ teamleader.phone }}</td>
    </tr>

    {% endfor %}
    {{ dump }}
</tbody>
</table>
{% endblock %}
