{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.jinja2" %}
{% block content %}
<div class="content-section">
  <div class="center">
    <h1>Attribuer une équipe à un responsable</h1>
    <br/>
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
