{% extends "base.jinja2" %}
{% block content %}
<a class="nav-link btn btn-primary" href="{{ url_for('admin.create_team') }}">Créer une équipe</a>
<table class="table">
  <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom d'équipe</th>
            <th scope="col">Chef d'équipe</th>
            <th scope="col">Bénévoles</th>
            <th scope="col">Edit/Delete</th>
        </tr>
  </thead>
  <tbody>
    {% for team in teams %}
        <tr>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }}</td>
            <td>{{ team.last_name }} {{ team.first_name }}</td>
            <td>{{ team.nb_vol}}/ {{ team.nb_max }}</td>
            <td><div class="btn btn-success all_user" style="margin-right:5px;"><a href="{{ url_for('admin.edit_team', team_id = team.id )}}" style="color:black;">✎</a></div><div class="btn btn-warning all_user"><a href="{{ url_for('admin.delete_team', team_id = team.id )}}">🗑</a></div></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
