{% extends 'flask_user/_public_base.html' %}
{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<div class="row register">
  <div class="col-md-12">
    <h1>{%trans%}Création d'un compte{%endtrans%}</h1>
    <form action="" method="POST" novalidate formnovalidate class="form" role="form">
      {{ form.hidden_tag() }}
      {# Username or Email #}
      {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <div class="row">
          <div class="col-md-12">
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
          </div>
        </div>
        {{ field(class_='form-control', tabindex=210) }}
        {% if field.errors %}
        {% for e in field.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}
        {% endif %}
      </div>
      {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
      {{ render_field(form.email, tabindex=220) }}
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          {{ render_field(form.last_name, tabindex=220) }}
        </div>
        <div class="col-md-6">
          {{ render_field(form.first_name, tabindex=220) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{ render_field(form.phone, tabindex=220) }}
        </div>
        <div class="col-md-6">
          {{ render_field(form.birthday, tabindex=220) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ render_field(form.address, tabindex=220) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{ render_field(form.password, tabindex=230) }}
        </div>
        <div class="col-md-6">
          {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
          {{ render_field(form.retype_password, tabindex=240) }}
          {% endif %}
        </div>
      </div>
      {{ render_submit_field(form.submit, tabindex=280) }}
      {# Label on left, "Already registered? Sign in." on right #}
      {% if user_manager.USER_ENABLE_REGISTER %}
      <a href="{{ url_for('user.login') }}" tabindex='290'>
      {%trans%}Déjà inscrit ? Connecte toi.{%endtrans%}</a>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
