{% extends "base.jinja2" %}
{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(64) }}"></td>
            <td>
                <h1>Utilisateur : {{ user.last_name }} {{ user.first_name }}</h1>
                <p>Adresse : {{ user.address }}</p>
                <p>Email : {{ user.email }}</p>
                Tes rôles : 
                {% for role in user.roles %}
                    <p> - {{ role.label }}</p>
                {% endfor %}
            </td>         
        </tr>
    </table>

    Modifie ton profil : <a href="{{ url_for('account.edit_user') }}">ici</a>

{% endblock %}