.fvols_main-wrapper{
  margin-top: 3em;
  padding:0px;
}

.jumbotron-fluid{
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0px;
}

#roles.form-control{
  list-style-type: none;
  background-color: #e9ecef;

}
#roles.form-control li{
  display: inline-flex;
  /* width: 100%; */
  height: calc(1.5em + 0.75rem + 2px);
  padding: .375rem .75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #54667a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.alert.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #11646f;
  }

/* https://css-tricks.com/almanac/selectors/c/checked/ */

/* inputid="roles-1"]:checked + label {
  color: red !important;
  font-style: italic;
}
label[for="roles-0"]{
  color: #f00 !important;
  font-style: normal;
} */


.all_user a:visited{
  color:white;

}
.all_user a:hover{
  color:grey;

}

.bg-dark {
background-color: #3a405a !important;
}

li.nav-item {
    margin: 0.5em;
}


.mr-auto, .mx-auto {
    margin-left:auto;
    margin-right:0px !important;
}

.register{
  padding-left: 15px;
  padding-right: 15px;
}

body{
max-width: 100%;
margin: auto;
border: 0.5em solid #3a405a;
padding-top: 3em;
}
.navbar{
margin: auto;
}

footer {
    background-color: #3a405a;
    color: white;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
footer, p{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
/* https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body{
    max-width: 1024px;
    background-image: url(/static/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar{
  max-width: 1024px;
}
.home_intro{
width:1024px;
}

}

@supports (-webkit-overflow-scrolling: touch) { 	body *: { 	width:100%;  	} }


@media (min-width: 1025px) and (max-width: 1280px) {
  body{
    max-width: 100%;

  }
  .navbar{
  max-width: 100%;
  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  body{
    max-width: 100%;

  }
  .navbar{
  max-width: 100%;
  }


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body{
    max-width: 100%;

  }
  .navbar{
  max-width: 100%;
  }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  body{
    max-width: 100%;

  }
  .navbar{
  max-width: 100%;
  }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  body{
    max-width: 100%;

  }
  .navbar{
  max-width: 100%;
  }


}



/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
