{% extends "base.jinja2" %}

{% block content %}
<h1>Page d'administration</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Les utilisateurs</h4>
                <p class="card-text">Voir, modifier, supprimer un utilisateur</p>
                <a href="{{ url_for('admin.all_users') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Les équipes</h4>
                <p class="card-text">Voir, modifier, supprimer une équipe</p>
                <a href="{{ url_for('admin.all_teams') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Les postes de travail </h4>
                <p class="card-text">Voir, modifier, supprimer un poste</p>
                <a href="{{ url_for('admin.all_posts') }}" class="btn btn-primary" disabled>Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Les chefs d'équipe</h4>
                <p class="card-text">Voir, ajouter, modifier, supprimer un chef bénévole</p>
                <a href="{{ url_for('admin.all_teamleaders') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Les horaires</h4>
                <p class="card-text">Programmer les horaires</p>
                <a href="{{ url_for('admin.all_shifts') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Prendre les présences</h4>
                <p class="card-text">Prendre les présences</p>
                <a href="#" class="btn btn-primary disabled">Voir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">La black-list</h4>
                <p class="card-text">Liste des bénévoles blacklistés</p>
                <a href="{{ url_for('admin.all_blacklisted') }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
