{% extends "base.jinja2" %}
{% block content %}
<a class="nav-link btn btn-primary" href="{{ url_for('admin.add_shift') }}">Ajouter un horaire</a>
<table class="table">
  <thead>
        <tr>
            <!--<th scope="col">ID</th>-->
            <th scope="col">Équipe</th>
            <th scope="col">Nom du poste</th>
            <th scope="col">Occurene</th>
            <th scope="col">Nombre de volontaires</th>
            <th scope="col">Edit/Delete</th>
        </tr>
  </thead>
  <tbody>
    {% for shift in shifts %}
        <tr>
            <!--<th scope="row">{{ shift.id }}</th>-->
            <td>{{ shift.team_name }}</td>
            <td>{{ shift.post_name }}</td>
            <td>{{ shift.post_occurence }}</td>
            <td>{{ shift.nb_volunteers }}</td>
            <td><div class="btn btn-success all_user" style="margin-right:5px;"><a href="{{ url_for('admin.edit_shift', shift_id = shift.id )}}" style="color:black;">✎</a></div><div class="btn btn-warning all_user"><a href="{{ url_for('admin.delete_shift', shift_id = shift.id )}}">🗑</a></div></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
