{% extends "base.jinja2" %}
{% block content %}
{% if blacklist  %}
<h1>Utilisateur(s) blacklisté</h1>
{% else %}
<h1>Utilisateur(s)</h1>
{% endif %}
    <table class="table">
  <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôle(s)</th>
            <!--<th scope="col">Equipe(s)</th> -->
            <th scope="col">Edit/Delete/Blacklist</th>
        </tr>
  </thead>
  <tbody>
{% for user in users %}
    <tr>
        <td scope="row">
          {{ user.id }}
        </td>
        <td>
          {{ user.last_name }}
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {% for role in user.roles %}
              • {{ role.label }} <br>
          {% endfor %}
        </td>
        <td>
          <div class="btn btn-success all_user" style="margin-right:5px;">
            <a href="{{ url_for('admin.admin_edit_user', user_id = user.id )}}" style="color:black;">
            ✎
            </a>
          </div>
          <div class="btn btn-warning all_user" style="margin-right:5px;">
            <a href="{{ url_for('admin.admin_delete_user', user_id = user.id )}}">
            🗑
            </a>
          </div>{% if user.id > 1%}
          <div class="btn btn-dark all_user">
            {% if blacklist  %}
            <a href="{{ url_for('admin.admin_whitelist_user', user_id = user.id , blacklist=1)}}">
              ✅
            </a>
            {% else %}
            <a href="{{ url_for('admin.admin_blacklist_user', user_id = user.id, blacklist=0 )}}">
              ⛔️
              </a>
            {% endif %}
            {% endif %}



          </div>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
