{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.jinja2" %}
{% block content %}
<div class="content-section">
  <div class="center">
    <h1>Editer le profil de : {{ user.first_name }} {{ user.last_name }}</h1>
    <br/>
    {{ wtf.quick_form(form) }}<br>
  </div>
</div>
{% endblock %}
