<!DOCTYPE html>
<html dir="ltr" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png?v=47xreJ4Nxy">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png?v=47xreJ4Nxy">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png?v=47xreJ4Nxy">
    <link rel="manifest" href="/static/img/favicon/site.webmanifest?v=47xreJ4Nxy">
    <link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg?v=47xreJ4Nxy" color="#3a405a">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico?v=47xreJ4Nxy">
    <meta name="msapplication-TileColor" content="#3a405a">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml?v=47xreJ4Nxy">
    <meta name="theme-color" content="#3a405a">

    <title>
        FestiVOLs - le site pour les bénévoles de festivals
    </title>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    <!-- Custom CSS -->
    <link href="/static/css/style.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body >
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('home.index') }}"><img src="/static/img/festivols-dark.png" alt="FestiVOLS" style="max-height:3em;margin-bottom: 0.4em;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{{ url_for('user.register') }}">Enregistrement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="{{ url_for('user.login') }}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{{ url_for('account.account_user') }}">Profil</a>
                </li>
                {% for role in current_user.roles %}
                    {% if role.name in ['admin'] %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="{{ url_for('admin.admin_page') }}">Panel d'administration</a>
                    </li>
                    {% endif %}
                {% endfor %}

                <li class="nav-item">
                    <a class="nav-link btn btn-warning" href="{{ url_for('user.logout') }}">Déconnexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="col fvols_main-wrapper">
        <div class="jumbotron jumbotron-fluid" >
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              {% if category %}
                <div class="alert alert-{{ category }}" role="alert">
                {% else %}
                <div class="alert alert-primary" role="alert" style="margin-left: 35px;margin-right: 35px;">
                {% endif%}
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer>
      <p>©2020 FestiVOLS • Danielle Delfosse • TFE</p>
    </footer>



    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
